parameters:
	ignoreErrors:
		-
			message: '#^Trait Bisual\\LaravelShortcuts\\Traits\\HasUuid is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/HasUuid.php
